/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Playfair+Display:wght@500;600;700;800&display=swap');

/* variables */
:root {
    --primary:#57141B;
    --accents:#BE852C;
    --secondary:#EADECD;
    --bg:#FFFAF4;
    --gray:#C3C1C0;
    --black:#000000;
    --white: white;
    --headingsFont: 'Playfair Display', serif;
    --bodyFonts: 'Montserrat', sans-serif;
    --transition: .3s linear;
    --fontSize: 18px;
    --lineHeight: 13px;
    --text:#18191F;


}

/* basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--bodyFonts);
    font-weight: 400;
    font-size: var(--fontSize);
    line-height: var(--lineHeight);
    background: var(--bg);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--headingsFont);
}

a {
    text-decoration: none;
    transition: var(--transition);
}

.container {
    width: 80%;
    margin: auto;
}

.d-flex {
    display: flex;
}
.space-between {
    justify-content: space-between;
    align-items: center;
}

.text-white {
    color: var(--white);
}

.active {
    color: var(--accents);
}

.active:hover {
    color: var(--text)
}

.btn {
    background: var(--accents);
    padding: 10px 20px;
    color: var(--white);
}
.btn:hover {
    background: var(--text);
    color: var(--white);
}

/* Navigation */
nav {
    padding: 18px 0;
    background: var(--white);
}

nav ul {
    list-style: none;
}

nav ul li a {
    margin-left: 30px;
    color: var(--text);
    font-size: 14px;
    text-transform: uppercase;
}

nav ul li a:hover {
    color: var(--accents);
}
