/* OUR FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Montserrat:wght@300;400&family=Playfair+Display:wght@500;600;700;800&display=swap');
/* VARIABLES */
:root {
    --primary: #57141B;
    --accents: #BE852C;
    --secondary: #EADECD;
    --gray: #C3C1C0;
    --white: #FFFAF4;
    --black: #000000;
    --headingsFont: 'Playfair Display', serif;
    --bodyFonts: 'Montserrat', sans-serif;
    --transitions: .5s linear;
    --fontSize: 18px;
    --lineHeight: 32px;
    --text: #18191F;
    --footer: #0B0D17;
}
/* BASIC STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--bodyFonts);
    font-weight: 400;
    font-size: var(--fontSize);
    line-height: var(--lineHeight);
    background: var(--white);
    color: var(--text);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--headingsFont);
}
h1 {
    font-weight: 800;
    font-size: 48px;
    line-height: 57px;
}
h2 {
    font-size: 35px;
    line-height: 45px;
}
a {
    text-decoration: none;
    transition: var(--transitions);
}
img {
    display: block;
    width: 100%;
}
.container {
    width: 80%;
    margin: auto;
}
.d-flex {
    display: flex;
    flex-wrap: wrap;
}
.space-between {
    justify-content: space-between;
    align-items: center;
}

.flex-start {
    align-items: flex-start;
}

.flex-column {
    flex-direction: column;
}

.stretch {
    align-items: stretch;
}
.justify-center {
    justify-items: center;
    align-items: center;
}

.align-center {
    align-items: center;
}

.text-white {
    color: var(--white);
}

.text-start {
    text-align: start;
}

.active {
    color: var(--accents);
}
.active:hover {
    color: var(--text);
}
.btn {
    background: var(--accents);
    padding: 10px 20px;
    color: var(--white);
    text-transform: uppercase;
    border-radius: 4px;
    display: inline-block;
}
.btn:hover {
    background: var(--text);
    color: var(--white);
    border-radius: 40px;
}

.btn-black{
    background: var(--black);
    padding: 10px 20px;
    color: var(--white);
    text-transform: uppercase;
    border-radius: 4px;
}

.btn-black:hover {
    background: var(--accents);
    color: var(--white);
    border-radius: 40px;
}
.py {
    padding: 100px 0;
}
.text-center {
    text-align: center;
}

.bg-dark {
    background: var(--black);
    color: var(--white);
}
/* CALL TO ACTION - CTA */
.cta, .headers {
    position: relative;
}

.cta img {
    height: 700px;
    object-fit: cover;
}

.cta .container, .headers .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.cta p, .headers p {
    padding: 30px 0;
}

.ticker {
    padding: 7px 0;
    background: linear-gradient(to right,var(--accents),var(--secondary));
}

.ticker p{
    font-size: 20px;
}
/* NAVIGATION */
nav {
    padding: 18px 0;
    background: white;
}
nav ul {
    list-style: none;
}
nav ul li a {
    margin-left: 30px;
    color: var(--text);
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}
nav ul li a:hover {
    color: var(--accents);
}
/* HEADER SECTION */
header {
    height: 85vh;
    background: linear-gradient(to right,var(--black), var(--black), var(--primary))
}
header .d-flex {
    height: 85vh;
}
header .d-flex div:first-child {
    flex: 0 0 47%;
    padding-left: 10%;
}
header .d-flex div:first-child p {
    padding: 20px 0 30px 0;
}
header .d-flex div:last-child {
    flex: 0 0 50%;
    align-self: flex-end;
}
header .btn:hover {
    background: var(--white);
    color: var(--text);
}
/* INTRO SECTION */
.intro div {
    flex: 0 0 47%;
}
.intro p {
    padding: 20px 0;
}
/* PACKAGE SECTION */
.packages {
    background: linear-gradient(var(--black), var(--primary));
}
.packages article {
    margin-bottom: 80px;
}

.packages ul {
    padding: 15px 0 30px 0;
}
.packages article:last-child {
    margin-bottom: 0;
}
.packages article div {
    flex: 0 0 49%;
}

.packages article:nth-child(odd) div:first-child {
    padding-left: 50px;
}
.packages article:nth-child(odd) {
    flex-direction: row-reverse;
}
.packages h2 {
    font-size: 48px;
    line-height: 57px;
    margin-bottom: 75px;
}

.packages h3 {
    font-size: 40px;
    line-height: 54px;
}
.packages h4 {
    font-size: 24px;
    line-height: 42px;
}
.packages h5 {
    font-size: 20px;
    line-height: 54px;
}

/* GALLERY */
.gallery .container img{
    flex: 0 0 32%;
    margin-bottom: 25px;
}

.gallery h2 {
    margin-bottom: 80px;
}
/* FOOTER */
footer {
    background: var(--footer)
}

footer .container {
    align-items: flex-start;
}

footer h3 {
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 30px;
}

footer ul {
    list-style: none;
    line-height: 2.5;
}

footer ul li a:hover {
    color: var(--accents);
}

footer a {
    color: var(--white);
    font-size: 16px;
}

footer input {
    background: #3c3d45;
    padding: 8px 15px;
    border-radius: 8px;
    border: none;
}

footer i:hover {
    color: var(--accents);
    transition: var(--transitions);
}

form a {
    margin-left: -25px;
}

footer div:last-child > a {
    font-size: 24px;
    margin-right: 15px;   
}

/* footer div:last-child > a:hover {
    color: var(--accents);   
}  resio sam problem sa funkcijom footer i:hover */

footer form {
    margin-bottom: 25px;
}
/* MISSION */
.mission {
    background: var(--black); 
     
}

.mission div {
    flex: 0 0 50%;
}

.mission div:last-child {
    padding: 0 70px 0 70px;
}

.mission p {
    padding: 30px 0;
}

.booking h2 {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 80px;
}

.booking a.btn {
    margin-top: 50px;
}

.booking div {
    flex: 0 0 30%;
}

.booking div p:first-child, .booking div h3 {
    font-size: 24px;
    line-height: 140,62%;
}

.booking h3 + p {
    font-size: 20px;
    line-height: 29px;
}
/* STEPS */
.steps .lead {
    font-weight: 800;
    font-size: 72px;
    line-height: 98px;
    color: var(--accents);
    font-family: 'Inter', sans-serif;
    position: relative;
    margin-bottom: -45px;
    opacity: 0.5;
}

.steps h2 {
    font-size: 48px;
    line-height: 64px;
}

.steps div {
    flex: 0 0 20%;
}

.steps h3 {
    font-size: 20px;
    line-height: 28px;
}

.steps h3 + p {
    font-size: 16px;
    line-height: 26px;
    margin-top: 15px;
}

.steps .btn {
    margin-top: 50px;
}
/* FEATURES */

.features {
    background: white;
}
 
.features .container div:first-child {
    flex: 0 0 55%;
}

.features .container div:last-child {
    flex: 0 0 35%;
}

.features h2 {
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 10px;
}

.features h3 {
    font-size: 16px;
    line-height: 26px;
    margin-top: 10px;
}
/* OUR PACKAGAES */

.ourPackages h2 {
    font-size: 40px;
    line-height: 53px;
    margin-bottom: 60px;
}

.ourPackages article div {
    flex: 0 0 25%;
    background: white;
    border-radius: 5px;
    border: 5px solid var(--accents);
    padding: 60px 30px;
    color: var(--text);
}

.ourPackages h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
}

.ourPackages h4 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 16px 0 0 0;
    font-style: italic;
}

.ourPackages ul {
    margin: 25px 0;
}

.ourPackages ul li {
    list-style: none;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 8px;
}

/* TESTIMONIALS */

.testimonials article:first-child h2 {
    flex: 0 0 50%;
    font-size: 48px;
    line-height: 64px;
    padding-left: 50px;
}

.testimonials article:first-child div {
    flex: 0 0 50%;
    justify-content: flex-end;
}

.testimonials article:first-child img {
    width: 175px;
}

.testimonials article:last-child.container {
    padding: 0 50px;
}
/* triangle - div */
.testimonials article:first-child h2 {
    flex: 0 0 50%;
    font-size: 48px;
    line-height: 64px;
    padding-left: 50px;
}
.testimonials article:first-child div {
    flex: 0 0 50%;
    justify-content: flex-end;
}
.testimonials article:first-child img {
    width: 175px;
}
.testimonials article:last-child.container {
    padding: 0 50px;
    margin-top: -22px;
}

.triangle {
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid var(--black);
}
.testimonials .box {
    border-radius: 10px 10px 10px 2px;
    padding: 33px;
    font-size: 14px;
    line-height: 24px;
}
.testimonials article > div {
    flex: 0 0 48%;
}
.testimonials .person img {
    width: 56px;
    margin-right: 16px;
}
/* CONTACT HEADER */

/* A different way to upload images via CSS*/
.headersContact {
    background-image: url(./img/contactPhoto.jfif);
    height: 85vh;
    background-size: cover;
    background-position: center;
    padding: 0 100px;
}

.headersContact h2 {
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
}

.headersContact p {
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    margin: 30px 0;
}


/* CONTACT - FORM */
.form .send {
    width: 30%;
    margin: auto;
    margin-top: 20px;
    transition: var(--transitions);
}


.form form{
    width: 40%;
    padding: 35px;
    margin: auto;
}

.form input {
    margin-bottom: 20px;
}

.form input, textarea::placeholder {
    color: var(--accents);
    font-family: var(--headingsFont);
    padding: 10px;
}

.form input::placeholder {
    font-family: var(--headingsFont);
    color: var(--accents);
}



